<div class="cardsWrapper clearfix">
	<ul class="container">
		<li>
			<div class="card">
				<div class="card-image">
					<img src="<%- theme.cards_1_img %>">
				</div>
				<div class="card-header">
					<%- theme.cards_1_title %>
				</div>
				<div class="card-content">
					<%- theme.cards_1_desc %>
				</div>
				<div class="card-nav">
					<a href="<%- theme.cards_1_link %>">
						<img src="<%- theme.cards_nav_icon %>">
					</a>
				</div>
			</div>
		</li>
		<li>
			<div class="card">
				<div class="card-image">
					<img src="<%- theme.cards_2_img %>">
				</div>
				<div class="card-header">
					<%- theme.cards_2_title %>
				</div>
				<div class="card-content">
					<%- theme.cards_2_desc %>
				</div>
				<div class="card-nav">
					<a href="<%- theme.cards_2_link %>">
						<img src="<%- theme.cards_nav_icon %>">
					</a>
				</div>
			</div>
		</li>
		<li>
			<div class="card">
				<div class="card-image">
					<img src="<%- theme.cards_3_img %>">
				</div>
				<div class="card-header">
					<%- theme.cards_3_title %>
				</div>
				<div class="card-content">
					<%- theme.cards_3_desc %>
				</div>
				<div class="card-nav">
					<a href="<%- theme.cards_3_link %>">
						<img src="<%- theme.cards_nav_icon %>">
					</a>
				</div>
			</div>
		</li>
	</ul>
</div>